<p>example works!</p>
<p> 🤓When someone does something 'to us' or we perceive some hurt inside of us, ask our selves why are we hurt? who is hurt? the ego is hurt. <br> We cannot be hurt in our essence. <br> 
If we focuss on why someone is behaving in a certain way and / or trying to blame or attack them for it, we lose sight of true lessons that are inside of us. <br>
the 'other' person  is only an extension of ourself and is a great teacher about ourself, we just have to pay attention within. <br> 
May all beings be happy ...💜
</p>
